@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Aldrich", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.green {
  color: #a0ff1d;
}

section {
  background-color: #1f1f1f;
}

.container {
  padding: 64px 0;
}

.row {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.divider {
  border: none;
  border-top: 1px solid white;
  height: 1px;
  margin: 8px 0;
}

.no-click {
  cursor: not-allowed;
}

.loading-state {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
  color: white;
  z-index: 100;
  animation: rotate 800ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 

NAVIGATION 

*/

nav {
  width: 100%;
  max-width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav {
  background-color: rgba(0, 0, 0, 0.97);
}

.nav__link--list {
  display: flex;
}

.nav__link {
  margin: 0 16px;
}

.nav__link--search {
  margin-right: 8px;
}

.nav__link--anchor {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 28px 0;
  margin: -28px 0;
  color: white;
  font-weight: 600;
  transition: all 300ms ease;
}

.nav__link--anchor:hover {
  color: #a0ff1d;
}

.link__hover-effect {
  position: relative;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #a0ff1d;
  transition: all 300ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
}

.logo__img {
  max-height: 50px;
  padding-left: 16px;
}

.nav__menu {
  color: white;
  background: transparent;
  border: none;
  font-size: 24px;
  display: none;
  transition: all 300ms ease;
}

.nav__menu:hover,
.nav__menu--close:hover {
  cursor: pointer;
  color: #a0ff1d;
}

.nav__menu--open {
  padding-right: 32px;
}

.nav__menu--close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 300ms ease;
}

.nav__menu--backdrop {
  visibility: hidden;
  position: fixed;
  background-color: black;
  top: 20px;
  left: 20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 10px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  opacity: 0;
  transition: opacity 100ms ease;
  animation: nav-menu-slide-out 300ms ease;
}

.links-menu--open .nav__menu--backdrop {
  visibility: visible;
  opacity: 1;
  animation: nav-menu-slide 300ms ease;
}

.nav__menu--list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__menu--links {
  margin: 24px 0;
}

.nav__menu--link {
  color: white;
  font-size: 20px;
  transition: all 300ms ease;
}

.nav__menu--link:hover {
  color: #a0ff1d;
}

@keyframes nav-menu-slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes nav-menu-slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

/* 

HEADER

*/

#header {
  position: relative;
  height: 400px;
  overflow: hidden;
}

.header__img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 400px;
  filter: brightness(30%);
  opacity: 0.7;
  top: 0;
}

.header__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header__title {
  color: white;
  font-size: 48px;
  margin-bottom: 12px;
}

.header__description {
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  border-radius: 30px;
  width: 100%;
  max-width: 400px;
  height: 50px;
  padding-left: 50px;
  font-size: 18px;
  position: relative;
  border: none;
  box-shadow: 5px 10px 10px 0 rgba(0, 0, 0, 0.8);
}

.search-bar button {
  position: absolute;
  color: #1f1f1f;
  background: transparent;
  border: none;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease;
}

.search-bar button:hover {
  cursor: pointer;
}

.search__btn {
  font-size: 20px;
  left: 15%;
}

.clear-search__btn {
  display: none;
  font-size: 28px;
  right: 16%;
}

.clear-search__btn:hover {
  color: #c02d2d;
}

/*

FILTERS

*/

.main__container {
  display: flex;
  justify-content: space-between;
}

.filters__container {
  padding: 0 64px;
}

.filters__title--container {
  display: flex;
}

.filters__title,
.filters label {
  color: white;
}

.filters__title {
  margin-top: 110px;
  margin-bottom: 8px;
  font-size: 18px;
}

.filter__title {
  color: white;
  font-size: 16px;
  margin: 8px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter__title i {
  margin-left: 8px;
  transition: transform 300ms ease;
}

.filter__title.active i {
  transform: rotate(180deg);
}

.clear-filters__btn {
  background: transparent;
  border: none;
  color: #fc4242;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  margin: 110px 0 8px 32px;
  transition: all 300ms ease;
}

.clear-filters__btn:hover {
  cursor: pointer;
  filter: brightness(80%);
}

[type="checkbox"] {
  display: none;
}

[type="checkbox"] + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  line-height: 20px;
  margin: 8px 0;
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid white;
  border-radius: 4px;
  background: transparent;
}

[type="checkbox"]:checked + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 14px;
  height: 14px;
  border: 2px solid #a0ff1d;
  background: #a0ff1d;
}

[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border-bottom: 4px solid #1f1f1f;
  border-right: 4px solid #1f1f1f;
  transform: rotate(45deg);
}

.filter__content {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease;
  margin-left: 12px;
}

.filter__content.expanded {
  height: auto;
  margin-left: 12px;
}

/* 

GAME LIST 

*/

.score--green,
.score--orange,
.score--red {
  padding: 8px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: black;
}

.score--green {
    border-color: green;
    color: green;
}

.score--orange {
    border-color: orange;
    color: orange;
}

.score--red {
    border-color: red;
    color: red;
}

.game-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.games__display--container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.games__display--title {
  color: white;
  font-size: 30px;
  margin-bottom: 8px;
}

.games__count {
  color: white;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-right: 50px;
}

#sort-filter {
  height: 30px;
  background-color: black;
  color: white;
  font-size: 14px;
  text-align: left;
  border: none;
  border-radius: 5px;
  padding: 0 8px;
  width: 200px;
  cursor: pointer;
  position: relative;
}

#sort-arrow {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 200px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: 1;
}

.dropdown-content div {
  color: white;
  font-size: 14px;
  padding: 12px 16px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #a0ff1d;
  color:#1f1f1f;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.game-card__container {
  position: relative;
  width: 100%;
  max-width: 350px;
  flex-grow: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  overflow: visible;
  transition: all 300ms ease;
}

.game-card__container:hover {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
}

.game-card__container:hover .game__img {
  transform: scale(1.05);
}

.game-card {
  width: calc(100% / 3);
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.game__img--wrapper {
  width: 350px;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.game__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 300ms ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.game__title {
  color: white;
  font-size: 20px;
  margin: 8px 0 4px 0;
}

.game__title:hover {
  text-decoration: underline;
  cursor: no-drop;
}

.game__release-date {
  font-size: 14px;
}

.platform-logo__svg {
  height: 16px;
  fill: #bbb;
  margin-right: 12px;
  vertical-align: -2px;
}

.platform-logo__svg:hover {
  fill: white;
  transition: all 300ms ease;
}

.platform-logo__path {
  fill: #bbb;
  transition: all 300ms ease;
}

.platform-logo__svg:hover .platform-logo__path {
  fill: white;
}

.game__platforms {
  font-size: 16px;
}

.genres__label {
  padding-right: 32px;
}

.genres__label,
.game__genres {
  font-size: 12px;
  font-weight: 400;
}

.game__release-date,
.game__platforms,
.genres__label,
.game__genres {
  color: rgb(187, 187, 187);
  margin-bottom: 12px;
}

.game__title,
.game__release-date,
.game__platforms {
  max-width: 230px;
}

.game__platforms i {
  margin-right: 12px;
}

.platform-icon,
.game__score span {
  position: relative;
  cursor: pointer;
  transition: all 300ms ease;
}

.platform-icon:hover {
  color: white;
}

.platform-icon::after,
.game__score span::after {
  content: attr(data-tooltip);
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 6px;
  font-size: 12px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms ease;
}

.platform-icon:hover::after,
.game__score span:hover::after {
  opacity: 1;
}

.genres {
  display: flex;
  justify-content: space-between;
}

.game__genres {
  text-decoration: underline;
}

.game__info {
  position: relative;
  padding: 16px 24px;
}

.game__score {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  padding: 16px 24px;
}

/*

FOOTER

*/

#footer {
  background-color: rgba(0, 0, 0, 0.97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;
}

.footer__logo--img {
  width: 150px;
}

.footer__links {
  display: flex;
  margin: 24px 0;
}

.footer__link {
  padding: 0 24px;
}

.footer__link--anchor {
  color: white;
  transition: all 300ms ease;
}

.footer__link--anchor:hover {
  color: #a0ff1d;
}

.copyright {
  color: white;
}

.credit {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 10px;
}

/*

RESPONSIVENESS

*/

@media (max-width: 480px) {
  .nav__menu {
    display: block;
  }

  .nav__link--list {
    display: none;
  }
}